<!DOCTYPE html>
<html dir="ltr" lang="en-US">
	<head>
		<meta charset="utf-8" />
		<meta content="IE=edge" http-equiv="X-UA-Compatible" />
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />

		<title>{{meta_title}}</title>

		<meta content="Lucas K.T. Lee" name="author" />
		<meta content="{{meta_title}}" name="title" />
		<meta content="{{meta_description}}" name="description" />
		<meta content="business school, entrepreneurship, innovation, law, MBA, private equity, technology, Wharton" name="keywords" />
		
		<link href="//cloud.typography.com/7428892/793304/css/fonts.css" rel="stylesheet" type="text/css" />
		<link href="{{asset "css/screen.css"}}" media="screen, projection" rel="stylesheet" type="text/css" />
		
		<script type="text/javascript">
			// Picture element HTML5 shiv
			document.createElement("picture");
		</script>
		<script async src="{{asset "js/picturefill.min.js"}}" type="text/javascript"></script>
		<script async src="//www.google-analytics.com/analytics.js" type="text/javascript"></script>

		{{ghost_head}}
	</head>

	<body>
		<a class="accessibility" href="#page-content">Skip to main content</a>
		<header id="page-header" role="banner">
			<div class="container">
				<div class="column">
					<a href="{{@blog.url}}"><img alt="Lucas K.T. Lee" class="logo" srcset="{{asset "images/profile@2x.jpg"}} 2x" src="{{asset "images/profile.jpg"}}" /></a>
					<h1>{{@blog.title}}</h1>
				</div>
			</div>			
		</header>

		<div id="page-content" role="main">
			<div class="container">
				<div class="column">
				{{{body}}}
				</div>
			</div>
		</div>

		<footer id="page-footer" role="contentinfo">
			<div class="container">
				<div class="column">
					{{navigation}}
					<div class="rights">
						<hr class="hidden" />
						<p class="center">Due to the nature of some of the content on this website, the following <a href="http://lucasktlee.com/disclaimer/">legal disclaimer</a> forms an integral part of this website, and you are deemed to have read and agreed to it by your continued use of this website.</p>
						<hr />
						<p class="center"><small>&#169; 2014 &#8211; 2015 <a href="{{@blog.url}}/about/">Lucas K.T. Lee.</a></small></p>
					</div>
				</div>
			</div>
		</footer>
		{{ghost_foot}}
	</body>
</html>