{{!< default}}
<article class="{{post_class}}" id="post-{{id}}">
	{{#post}}
	<header class="post-header">
		<h1 class="post-title">{{{title}}}</h1>
	</header>

	<section class="post-content">
		{{content}}
	</section>

	<footer class="post-footer">
		<section class="post-metadata">
			<h2>Written by</h2>
			<h3><a href="{{author.website}}">{{author.name}}</a></h3>
			<p>Published on <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='MMMM DD, YYYY'}}</time>.</p>
		</section>
		<section class="post-tags">
			<h2>Tagged as</h2>
			{{#if tags}}
			<ul>
				{{#foreach tags}}
					<li><a href="{{url}}">{{name}}</a></li>
				{{/foreach}}
			</ul>
			<div class="clearfix"></div>
			{{else}}
				<p>This post was not tagged.</p>
			{{/if}}
		</section>
		<section class="post-sharing">
			<h2>Comments</h2>
			<p>As a matter of <a href="http://lucasktlee.com/commenting-policy/">policy</a>, I have disabled comments on this blog.</p> 
			<p>If you would like to comment, please feel free to use <a href="https://twitter.com/share?text={{encode title}}%20by%20@LucasKTLee&url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">Twitter</a> or (<em>better yet</em>) write a response on your own blog.</p>
		</section>
		<section class="post-nav">
			{{#prev_post}}
				<div class="post-nav-prev">
					<p class="metadata">Previously on&#8230;</p>
					<h2><a href="{{url}}">{{title}}</a></h2>	
				</div>
			{{/prev_post}}
			{{#next_post}}
				<div class="post-nav-next">
					<p class="metadata">Coming up next&#8230;</p>
					<h2><a href="{{url}}">{{title}}</a></h2>
				</div>
			{{/next_post}}
			<div class="clearfix"></div>
		</section>				
	</footer>
	{{/post}}
</article>